:root {
    --main-color: #d26648;
    --main-color-transparent: #d266487a;
    --second-color: #d3c157;
    --font-body: "Manrope var", "Manrope", sans-serif;
    --tailwind-color: 183, 100%, 43%;
    --skill-tailwind-bg: hsla(var(--tailwind-color), 8%);
    --skill-tailwind-fill-color: hsl(var(--tailwind-color));
    --skill-tailwind-border-shadow: hsla(var(--tailwind-color), 8%);
    --mongodb-color: 123, 49%, 46%;
    --skill-mongodb-bg: hsla(var(--mongodb-color), 8%);
    --skill-mongodb-fill-color: hsl(var(--mongodb-color));
    --skill-mongodb-border-shadow: hsla(var(--mongodb-color), 8%);
    --postgresql-color: 206, 92%, 40%;
    --skill-postgresql-bg: hsla(var(--postgresql-color), 8%);
    --skill-postgresql-fill-color: hsl(var(--postgresql-color));
    --skill-postgresql-border-shadow: hsla(var(--postgresql-color), 8%);
    --express-color: 57, 93%, 55%;
    --skill-express-bg: hsla(var(--express-color), 8%);
    --skill-express-fill-color: hsl(var(--express-color));
    --skill-express-border-shadow: hsla(var(--express-color), 8%);
    --css-color: 207, 87%, 56%;
    --skill-css-bg: hsla(var(--css-color), 8%);
    --skill-css-fill-color: hsl(var(--css-color));
    --skill-css-border-shadow: hsla(var(--css-color), 8%);
    --html-color: 10, 78%, 55%;
    --skill-html-bg: hsla(var(--html-color), 8%);
    --skill-html-fill-color: hsl(var(--html-color));
    --skill-html-border-shadow: hsla(var(--html-color), 8%);
}

:root[data-color-mode=light] {
    --body-bg: #f9f9fb;
    --body-text: #111218;
    --hero-link-shadow: none;
    --title-shadow: none;
    --hero-background-pattern: url(../../images/pattern-black.svg);
    --navbar-divider-color: #343538;
    --navbar-menu-heading: #959cb2;
    --navbar-menu-modes-bg: #e1e4ea;
    --navbar-meu-mode-text: #67718e;
    --navbar-menu-mode-active-shadow: inset 0 1px 0 #fff;
    --navbar-menu-mode-active-bg: #f3f4f6;
    --navbar-menu-mode-active-text: #2a3451;
    --navbar-menu-bg: #f3f4f6;
    --navbar-menu-border: #fff;
    --navbar-menu-link: #67718e;
    --navbar-menu-link-hover: #2f364c;
    --navbar-menu-link-hover-bg: #e7e9ee5d;
    --navbar-dropdown-shadow: rgba(166, 176, 201, .64);
    --navbar-bg: #f3f4f6;
    --navbar-border: hsla(0, 0%, 100%, 0.56);
    --navbar-dropdown-item-hover-bg: #e7e9ee;
    --navbar-menu-link-text-active: #d3c157;
    --navbar-menu-link-shadow-active: none;
    --navbar-dropdown-item-hover-text: #272a35;
    --navbar-bg-blured: rgba(234, 227, 225, 0.48);
    --max-width: 1200px;
    --projects-project-bg: #fff;
    --projects-project-border: #f2f4f7;
    --projects-project-link: #67718e;
    --projects-project-link-bg: #edeff2;
    --projects-project-link-web-text: #f7f9fd;
    --projects-project-link-web-shadow: 0 0.25rem 2.5rem -0.875rem #d770c2;
    --projects-project-desc-text: #67718e;
    --projects-project-tag-bg: #edeff2;
    --projects-project-tag-text: #67718e;
    --projects-project-link-web-bg: linear-gradient(90deg, var(--main-color), var(--second-color));
    --skill-caption-text: #7d86a1;
    --react-color: 193, 95%, 68%;
    --skill-react-bg: hsla(var(--react-color), 8%);
    --skill-react-fill-color: hsl(var(--react-color));
    --skill-react-border-shadow: hsla(var(--react-color), 24%);
    --node-color: 89, 53%, 54%;
    --skill-node-bg: hsla(var(--node-color), 8%);
    --skill-node-fill-color: hsl(var(--node-color));
    --skill-node-border-shadow: hsla(var(--node-color), 24%);
    --next-color: 0, 50%, 0%;
    --skill-next-bg: hsla(var(--next-color), 8%);
    --skill-next-fill-color: hsl(var(--next-color));
    --skill-next-border-shadow: hsla(var(--next-color), 8%);
    --typescript-color: 211, 60%, 48%;
    --skill-typescript-bg: hsla(var(--typescript-color), 8%);
    --skill-typescript-fill-color: hsl(var(--typescript-color));
    --skill-typescript-border-shadow: hsla(var(--typescript-color), 8%);
    --git-color: 11, 90%, 55%;
    --skill-git-bg: hsla(var(--git-color), 8%);
    --skill-git-fill-color: hsl(var(--git-color));
    --skill-git-border-shadow: hsla(var(--git-color), 8%);
    --bash-color: 208, 16%, 19%;
    --skill-bash-bg: hsla(var(--bash-color), 8%);
    --skill-bash-fill-color: hsl(var(--bash-color));
    --skill-bash-border-shadow: hsla(var(--bash-color), 8%);
    --bash-color: 208, 16%, 19%;
    --skill-bash-bg: hsla(var(--bash-color), 8%);
    --skill-bash-fill-color: hsl(var(--bash-color));
    --skill-bash-border-shadow: hsla(var(--bash-color), 8%);
    --projects-project-image-shadow-color-2:  radial-gradient(circle, rgb(210 102 72 / 43%) 64%, rgba(191, 126, 241, 0.56) 100%);

}

:root[data-color-mode=dark] {
    --body-bg: #111218;
    --body-text: #f9f9fb;
    --navbar-bg: #1a1c23;
    --navbar-border: rgba(51, 57, 71, .48);
    --navbar-bg-blured: rgba(34, 38, 47, .48);
    --title-shadow: 0 0.25rem 2.5rem rgba(210, 102, 72, 0.7);
    --navbar-divider-color: #272a35;
    --navbar-dropdown-shadow: rgba(8, 9, 13, .72);
    --navbar-dropdown-item-hover-bg: #272a35;
    --navbar-dropdown-item-hover-text: #f9fafb;
    --navbar-menu-bg: #1a1c23;
    --navbar-menu-border: rgba(51, 57, 71, .48);
    --navbar-menu-link: #959cb2;
    --navbar-menu-link-hover: #c3c9da;
    --navbar-menu-link-hover-bg: #22262f5d;
    --navbar-menu-link-text-active: #d3c157;
    --navbar-menu-link-shadow-active: rgba(254, 159, 178, .56);
    --navbar-menu-heading: #5a637c;
    --navbar-menu-modes-bg: #0d0e12;
    --navbar-meu-mode-text: #959cb2;
    --navbar-menu-mode-active-bg: #1e2129;
    --navbar-menu-mode-active-text: #f2f3f8;
    --navbar-menu-mode-active-shadow: inset 0 1px 0 rgba(69, 76, 95, .32);
    --hero-background-pattern: url(../../images/pattern-white.svg);
    --hero-link-shadow: 0 0.25rem 2.5rem -0.175rem #d26648;
    --projects-project-link-web-bg: linear-gradient(90deg, #fe9fb2, #d89ffe);
    --projects-project-link-web-text: #101a38;
    --projects-project-link-web-shadow: var(--hero-link-shadow);
    --projects-project-image-shadow-color-2: radial-gradient(circle, rgba(241, 126, 147, .56) 64%, rgba(191, 126, 241, .56) 100%);
    --projects-project-bg: #15171e;
    --projects-project-border: #1e2129;
    --projects-project-desc-text: #7d84a1;
    --projects-project-tag-bg: #1d212a;
    --projects-project-tag-text: #7b85a3;
    --projects-project-link: #647090;
    --projects-project-link-bg: #1e2129;
    --react-color: 193, 95%, 68%;
    --skill-react-bg: hsla(var(--react-color), 8%);
    --skill-react-fill-color: hsl(var(--react-color));
    --skill-react-border-shadow: hsla(var(--react-color), 8%);
    --node-color: 89, 53%, 54%;
    --skill-node-bg: hsla(var(--node-color), 8%);
    --skill-node-fill-color: hsl(var(--node-color));
    --skill-node-border-shadow: hsla(var(--node-color), 8%);
    --typescript-color: 211, 60%, 48%;
    --skill-typescript-bg: hsla(var(--typescript-color), 8%);
    --skill-typescript-fill-color: hsl(var(--typescript-color));
    --skill-typescript-border-shadow: hsla(var(--typescript-color), 8%);
    --next-color: 0, 50%, 100%;
    --skill-next-bg: hsla(var(--next-color), 8%);
    --skill-next-fill-color: hsl(var(--next-color));
    --skill-next-border-shadow: hsla(var(--next-color), 8%);
    --git-color: 11, 90%, 55%;
    --skill-git-bg: hsla(var(--git-color), 8%);
    --skill-git-fill-color: hsl(var(--git-color));
    --skill-git-border-shadow: hsla(var(--git-color), 8%);
    --bash-color: 102, 64%, 40%;
    --skill-bash-bg: hsla(var(--bash-color), 8%);
    --skill-bash-fill-color: hsl(var(--bash-color));
    --skill-bash-border-shadow: hsla(var(--bash-color), 8%);
    --skill-caption-text: #7d86a1;
    --hobbies-pattern-bg-filters: blur(2rem) brightness(0.3);
    --hobbies-pattern-opacity: 1;
    --hobbies-text: #67718e;
}