:root{
    --main-color: #d26648;
    --navbar-menu-link: #111218;
    --font-body: "Manrope var","Manrope",sans-serif;
    --body-bg: #f9f9fb;
    --body-text:#111218;
    --navbar-divider-color: #343538;
}


body {
    padding: 0;
    margin: 0;
    font-family: var(--font-body);
    background: var(--body-bg);
    color: var(--body-text);
}
