.skills_container {
    width: 100%;
    min-height: 100vh;
    margin: 0 auto;
    background: var(--body-bg);
    overflow: hidden;
    padding-top: 2rem;

}

.skills-grid_container{
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.skills_skill{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.75rem;
}

@media screen and (min-width: 768px){
.skills_grid {
    gap: 3rem;
    padding: 0;
}
}

.skills_grid {
    display:grid;
    grid-template-columns:repeat(3, 1fr);
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 1.5rem;
    margin-top: 2rem;
    padding: 1.5rem;
    z-index: 1;
}

@media screen and (min-width: 500px){
    .skills_grid {
        grid-template-columns:repeat(4, 1fr);
}
}


@media screen and (min-width: 768px){
    .skills_grid {
        grid-template-columns:repeat(6, 1fr);
    }
    .skills_container:after {

        right: -20rem;

    }
}


.skills_logo {
    width: 81px;
    height: 81px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1.125rem;
    border-radius: 0.5rem;
    background-color: var(--skill-bash-bg);
}


.skills_caption{

    font-size: 1rem;
    font-weight: 600;
    color: var(--skill-caption-text);
}


.skills_logo[data-name=react] {
    background-color: var(--skill-react-bg);
    color: var(--skill-react-fill-color);
    box-shadow: 0 1px 0 0 var(--skill-react-border-shadow) inset;
}

.skills_logo[data-name=node] {
    background-color: var(--skill-node-bg);
    color: var(--skill-node-fill-color);
    box-shadow: 0 1px 0 0 var(--skill-node-border-shadow) inset;
}

.skills_logo[data-name=next] {
    background-color: var(--skill-next-bg);
    color: var(--skill-next-fill-color);
    box-shadow: 0 1px 0 0 var(--skill-next-border-shadow) inset;
}

.skills_logo[data-name=typescript] {
    background-color: var(--skill-typescript-bg);
    color: var(--skill-typescript-fill-color);
    box-shadow: 0 1px 0 0 var(--skill-typescript-border-shadow) inset;
}

.skills_logo[data-name=git] {
    background-color: var(--skill-git-bg);
    color: var(--skill-git-fill-color);
    box-shadow: 0 1px 0 0 var(--skill-git-border-shadow) inset;
}


.skills_logo[data-name=bash] {
    background-color: var(--skill-bash-bg);
    color: var(--skill-bash-fill-color);
    box-shadow: 0 1px 0 0 var(--skill-bash-border-shadow) inset;
}

.skills_logo[data-name=bash] {
    background-color: var(--skill-bash-bg);
    color: var(--skill-bash-fill-color);
    box-shadow: 0 1px 0 0 var(--skill-bash-border-shadow) inset;
}

.skills_logo[data-name=tailwind] {
    background-color: var(--skill-tailwind-bg);
    color: var(--skill-tailwind-fill-color);
    box-shadow: 0 1px 0 0 var(--skill-tailwind-border-shadow) inset;
}

.skills_logo[data-name=mongodb] {
    background-color: var(--skill-mongodb-bg);
    color: var(--skill-mongodb-fill-color);
    box-shadow: 0 1px 0 0 var(--skill-mongodb-border-shadow) inset;
}

.skills_logo[data-name=postgresql] {
    background-color: var(--skill-postgresql-bg);
    color: var(--skill-postgresql-fill-color);
    box-shadow: 0 1px 0 0 var(--skill-postgresql-border-shadow) inset;
}

.skills_logo[data-name=express] {
    background-color: var(--skill-express-bg);
    color: var(--skill-express-fill-color);
    box-shadow: 0 1px 0 0 var(--skill-express-border-shadow) inset;
}

.skills_logo[data-name=css] {
    background-color: var(--skill-css-bg);
    color: var(--skill-css-fill-color);
    box-shadow: 0 1px 0 0 var(--skill-css-border-shadow) inset;
}

.skills_logo[data-name=html] {
    background-color: var(--skill-html-bg);
    color: var(--skill-html-fill-color);
    box-shadow: 0 1px 0 0 var(--skill-html-border-shadow) inset;
}




.skills-grid_container:after, .skills-grid_container:before {
    position: absolute;
    inset: 0;
    margin: auto;
    width: 512px;
    height: 320px;
    filter: blur(5rem);
}



.skills-grid_container:before {
    content: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iNTEyIiBoZWlnaHQ9IjMyMCIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj48cGF0aCBkPSJNMTMwIDMyMEgwVjE1MUwxMzAgMGwxNTYgMTIzTDQ4MyAwbDI5IDEzMHYxNDJsLTIxNi01OC0xNjYgMTA2WiIgZmlsbD0iI0YxN0U5MyIgZmlsbC1vcGFjaXR5PSIuMiIvPjwvc3ZnPg==);
    transform: translate(-52%,82%) scale(.7);
}

*, :after, :before {
    box-sizing: border-box;
}

/* .skills_container:after {
    content: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iNTEyIiBoZWlnaHQ9IjMyMCIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj48cGF0aCBkPSJNMCAxOTN2MTI3bDc2LTc4IDE0Ni00OSA3NSAxMjdoMTM1bDgwLTg5LTczLTExMEw1MTIgMCAyMjIgOTUgNzYgMGwyMiAxNTYtOTggMzdaIiBmaWxsPSIjQkY3RUYxIiBmaWxsLW9wYWNpdHk9Ii4yIi8+PC9zdmc+);
    transform: translate(24%,4%) scale(.5);
} */


.skills-grid_container:after {
    top: -12rem;
    right: -20rem;
    background: var(--projects-project-image-shadow-color-2);
    
    width: 33%;
    height: 25%;
    content: "";
    position: absolute;
    border-radius: 55% 45% 33% 67% / 51% 52% 48% 49%;
}

@media screen and (min-width: 768px){
    .skills-grid_container:after {
        top: -7rem;
        right: -40rem;
        width: 35%;
        height: 25%;
    }
    .skills-grid_container:before {
        transform: translate(-52%,42%) scale(.7);
    }
}


