svg,path {
    display: block;
    max-width: 100%;
    height: 24px;
}

a {
    text-decoration: none;
}

*, :after, :before {
    box-sizing: border-box;
    margin: 0;
}

i{
    color: var(--main-color)
}


section {
    display: block;;
}
.disabled {
    display: none;
}

